.navbar.fixed-top.navbar-expand-lg
  .container
    a.navbar-brand(href='/')
      i.fas.fa-cube
      | End Of Mine
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.nav-item(class=(title === 'Status') ? 'active' : undefined)
          a.nav-link(href='/status') Status
        li.nav-item(class=(title === 'Pixelmon') ? 'active' : undefined)
          a.nav-link(href='/pixelmon') Pixelmon
        li.nav-item(class=(title === 'Whitelist') ? 'active' : undefined)
          a.nav-link(href='/whitelist') Whitelist
