extends layout

block content
    section.mb-4
        // Section heading
        h2.h1-responsive.font-weight-bold.text-center.my-4 Pixelmon Setup
        // Section description
        p.text-center.w-responsive.mx-auto.mb-5
            | To Import the mod pack, you will ether need Twitch launcher or MultiMC, I personally perfer MultiMC.
        .container
            .row
                .col.align-self-center
                    .steps.lists
                        ol
                            li Download pack from 
                                a(href="/downloads/pixelmon.zip") HERE
                            li Import pack into your launcher of choice. With MultiMC, Click Add Instance, then Import from zip.
                            li To connect to our server you will need to be whitelisted. to get whitelisted go to the whitelist page for instructions
                            li connect to server PIXELMON.ENDOFMINE.COM
                            li you are now connected to the server and can have fun.


