extends layout

block content
    section.mb-4
      // Section heading
      h2.h1-responsive.font-weight-bold.text-center.my-4 Pixelmon Setup
      // Section description
      p.text-center.w-responsive.mx-auto.mb-5
        | To get whitelisted. Please join discord server at 
        a(href='https://discord.gg/KbVFVEE') HERE
