extends layout

block content
    section.mb-4
      // Section heading
      h2.h1-responsive.font-weight-bold.text-center.my-4 Get Whitelisted
      // Section description
      p.text-center.w-responsive.mx-auto.mb-5
        | Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
      .row
        // Grid column
        .col-md-9.mb-md-0.mb-5
          form#contact-form(name='contact-form', action='mail.php', method='POST')
            // Grid row
            .row
              // Grid column
              .col-md-6
                .md-form.mb-0
                  input#name.form-control(type='text', name='name')
                  label(for='name') Your username
              // Grid column
              // Grid column
              .col-md-6
                .md-form.mb-0
                  input#email.form-control(type='text', name='email')
                  label(for='email') Your email
              // Grid column
              // Grid row
              // Grid row
              .row
                .col-md-12
                  .md-form.mb-0
                    input#subject.form-control(type='text', name='subject')
                    label(for='subject') how you know us
          .text-center.text-md-left
            a.btn.btn-primary(onclick="document.getElementById('contact-form').submit();") Send
          .status
