@import "themes/default/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "themes/default/default";

// Scaffolding
// -------------------------

html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
body a:link { color:#ffffff; }
body a:visited {color:#ffffff;}
body {
    font-size: 14px;
    /*Want to change background image?*/
    /*Upload a new one to the img folder.*/
    /*Make sure you name it 'minecraft.jpg'*/
    background: url("../img/minecraft.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Helvetica;
    color:#ffffff;
    margin: 0;
    width: 100%;
}

p {
    margin: 0;
    padding: 3px;
}

.container {
    text-align: center;
    .background-color: #444444b5;

}

.logo img {
    width: 250px;

}


.items {
    display: flex;
    justify-content: space-around;
    flex-basis: 100px;
    padding: 18px 0 10px 0;

}

.item img {
    transition: all 0.3s ease;
}

.item img:hover {
    transform:scale(1.25);
}

.img {
    width: 100%;
}

@media(min-width: 600px) {
    .logo img {
        width: 350px;
    }
    .img {
        width: 100%;
    }
    .items {
        padding: 30px 0 20px 0;
    }
}

@media(min-width: 1000px) {
    .items {
        justify-content: center;
    }

    .item:not(:first-child) {
        margin-left: 90px;
    }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  min-height: 30px;
  margin: -15px 15px -15px;
}

.navbar{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  display: block;
}
.navbar a:link { color:#ffffff; }
.navbar a:visited {color:#ffffff;}

.navbar-brand{
  font-size: 18px;
  float: left;
}

.navbar-toggler {
  position: relative;
  float: right;
  margin-bottom: 8px;
  margin-top: 8px;
}

.navbar-toggler-icon {
  font-size: 16px;
}

.dropdown-menu {
  left: initial;
  right: 0;
}

/*
* Solves Bootstrap 4 issue
* https://github.com/twbs/bootstrap/issues/25654
*/
/* Styles in sm disposition and up */
@media (min-width: 576px) and (max-width: 767px) {
  /* Solves bs4 bug */
  .navbar-expand-md > .container,
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in md disposition and up */
@media (min-width: 768px) and (max-width: 991px) {
  /* Solves bs4 bug */
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in lg disposition and up */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Solves bs4 bug */
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.fab {
  margin-right: 6px;
}

.fas {
  margin-right: 6px;
}

.far {
  margin-right: 6px;
}
.lists 
    { list-style: decimal inside; }

// Basic Snapchat Button CSS
.btn-snapchat {
  background-color: #fffc00;
  color: #000 !important;

  &:hover, &:active {
    background-color: #f1ef00;
  }
}
